.attractions {
	padding-top: 80px;
	text-align: left;
	&__title {
		font-size: 1.25rem;
		margin: 0;
		font-style: normal;
		font-weight: 600;
		padding: 1rem 0;
		border-bottom: 1px solid $lochinvar;
	}
	&__description {
		font-size: 1.25rem;
		text-align: center;
		&-first {
			padding-top: 60px;
		}
	}
	&__table {
		@media (max-width: 600px) {
			table, thead, tbody, th, td, tr { 
				display: block; 
				margin: 0px auto;
				width: 90%;
			}
		}
		border-collapse: collapse;
		width: 100%;
		margin: 0px auto;
		margin-top: 5%;
		font-size: 1rem;
		& tr {
			vertical-align: top;
		}
		& th {
			padding: 1rem;
		}
	}
}