.gallery {
	padding: 80px 0;
	&__container_1, &__container_2, &__container_3, &__container_4, &__container_5 {
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		column-gap: 1.5rem;
		row-gap: 1.5rem;
		margin: 0;
		padding: 0;
		list-style-type: none;
		@media (max-width: $mobile) {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			grid-gap: 0.5rem;
		}
	}
	&__title {
		font-size: 1.25rem;
		margin: 0;
		font-style: normal;
		font-weight: 600;
		padding: 1rem 0;
		border-bottom: 1px solid $lochinvar;
	}
	& img {
		width: 200px;
		height: 150px;
		transition: 1s;
		padding: 1rem;
		&:hover {
			filter: grayscale(100%);
			transform: scale(1.1);
		}
	}
	& a {
		display: flex;
		justify-content: center;
	}
}