.gallery {
	padding: 8rem 0 0;
	&__container {
		margin-left: auto;
  margin-right: auto;
  display: block;
	}
	&__title {
		font-size: 2.25rem;
		margin: 0;
		font-style: normal;
		font-weight: 600;
		padding: 1rem 0;
		border-bottom: 1px solid $lochinvar;
	}
	& img {
		width:  200px;
		height: 150px;
		transition: 1s;
		padding: 1rem;
		&:hover {
			filter: grayscale(100%);
			transform: scale(1.1);
		}
	}
}
