$violet: #000;
$yellow: #f9c802;
$big-stone: #171f3f;
$gray: #52606d;
$blue: #0593fb;
$green: #06c847;
$violet: #653cad;
$dark-blue: #2251cc;
$light-gray: #f5f7fa;
$lochinvar: #3C8B7B;
$light-lochinvar: #5CA595;
$dark-purple: #972C73;
$light-purple: #C5599C;
$mobile: 1115px;